*, body {

    padding: 0;
    
    margin: 0;
    
    box-sizing: border-box;
    
    }
    
    .navigation-header {
    
    background-color: #081427;
    
    padding: 0 15px;
    
    height: 60px;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    }
    
    nav {
    
    width: 100%;
    
    display: flex;
    
    justify-content: space-between;
    
    align-items: center;
    
    
    
    }
    
    .logo-container a {
    
    color: ghostwhite;
    
    text-decoration: none;
    
    font-weight: 700;
    
    font-size: 26px;
    
    }
    
    .navigation-items {
    
    display: flex;
    
    gap: 40px;
    
    }
    
    .navigation-items a {
    
    color: ghostwhite;
    
    text-decoration: none;
    
    font-weight: 500;
    
    font-size: 16px;
    
    }
    
    .navigation-items a:hover {
    
    color: gold;
    
    }
    
    .hamburger {
    
    display: none;
    
    font-size: 20px;
    
    font-weight: 800;
    
    color: white;
    
    }

    .Nathan {
        padding: 10px;
        margin-top: 2.5%;
        margin-left: 10%;
        grid-area: nh;
        display: block;
        width: 35%;
        word-wrap: normal;
        text-align: center;

        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 1.5rem;
        }

        h1, p{
            font-family: system-ui;
            color: #081427;
        }

    }

    .Lucas {
        padding: 10px;
        margin-top: 2.5%;
        margin-right: 10%;
        grid-area: lh;
        display: block;
        width: 35%;
        top: 60px;
        left: 55%;
        position: absolute;
        word-wrap: normal;
        text-align: center;

        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 1.5rem;
        }

        h1, p{
            font-family: system-ui;
            color: #081427;
        }

    }

    button {
        background-color: rgb(172, 227, 172);
        border: 0;
        width: 170px;
        height: 50px;
        border-radius: 30px 30px 30px 30px;

        
        a {
            font-family: system-ui;
            color: #081427;
            text-decoration: none;
            font-weight: bold;
        }
    }

    .name {
        font-weight: bold;
    }

    .aboutMe {
        padding: 10px;
        grid-area: nh;
        display: block;
        word-wrap: normal;

        h1, p {
            text-align: center;
            font-size: 1.9rem;
        }

        p {
            font-size: 1.3rem;
            font-family: system-ui;
            color: #081427;
            margin: 0 3%;
        }

    }

    @media screen and (max-width: 425px){
        .navigation-items {
            display: none;
        }
        .hamburger {
            display: flex;
        }
        .Lucas {
           position: inherit;
        }

        .Nathan {
            width: 90%;
            margin: 0 auto;
        }

        .Lucas {
            width: 90%;
            margin: 0 auto;
        }
    }

        .picture {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            border: none;
          }