* {

    margin: 0;
    
    padding: 0;
    
    font-family: Arial, Helvetica;
    
    }
    
    header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    border-top: solid black 7px;
    
    padding: 20px 50px;
    
    box-shadow: 0 5px 8px #ddd;
    
    background-color: rgb(180, 234, 98);
    
    }
    
    header li {
    
    list-style: none;
    
    display: inline-block;
    
    padding: 0 20px;
    
    font-weight: bold;
    
    }
    
    #nav-title {
    
        display: flex;

    font-size: 1.5em;
    
    }
    
    header a {
    
    text-decoration: none;
    
    color: #555;
    
    }
    
    header a:hover {
    
    color: #6a1de4;
    
    }
